.container-tabInput {
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.tabInput-left {
    width: 50%;
    height: 100%;
    background-color: #007F73;
}

.tabInput-right {
    width: 50%;
    height: 100%;
    background-color: #FFF455;
}